.logInContainer {
  background-color: #d8e5ee;
  background-image: 
radial-gradient(circle at 100% 0, #ffffff, transparent),
radial-gradient(circle at 70% 100%, #fbffea, transparent),
radial-gradient(circle at 100% 100%, #ffffff, transparent),
radial-gradient(circle at 10% 10%, transparent, rgb(187, 220, 237));
  width: 100vw;
  height: 445px;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}

form {
  width: 300px;
  margin-top: 0;
}





@media (min-width: 600px) {

  .logInContainer {
    width: fit-content;
    padding: 3rem;
    height: 30vh;
    border-radius: 5%;
    background-image: 
      radial-gradient(circle at 100% 0, #ffffff, transparent),
      radial-gradient(circle at 70% 100%, #fbffea, transparent),
      radial-gradient(circle at 100% 100%, #ffffff, transparent),
      radial-gradient(circle at 10% 10%, transparent, rgb(187, 220, 237));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.113)
  }
}
