.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  justify-content: center;
  border: 1px solid red;
  width: 100vw;
  height: 100vh;
}

.topContainer {
  border: 1px solid rgb(68, 199, 100);
  width: 100vw;
}

.bottomContainer {
  background-color: #f3f6f8;
  width: 100vw;
  height: 445px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid red;
  width: 100vw;
}

.tab {
  border-bottom: 3px solid #3a591e;
  border: 1px solid red;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tap p {
  margin: 0;
  padding: 0;
}

form {
  border: 1px solid rgb(66, 64, 226);
  width: 300px;
  display: flex;
  flex-direction: column;
}

#textField {
}

p {
  font-size: 14px;
  color: #777777;
}

#forgotPassword {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 50px;
}

#welcome {
  font-size: 20px;
  font-weight: 600;
}
