.course-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 1px solid #e2e2e2;
  box-shadow: #e2e2e2;
  border-radius: 15px;
  width: 250px;
  height: 120px;
  gap: 1rem;
  background-image: 
    radial-gradient(circle at 100% 0, #ffffff, transparent),
    radial-gradient(circle at 70% 100%, #fbffea, transparent),
    radial-gradient(circle at 100% 100%, #ffffff, transparent),
    radial-gradient(circle at 10% 10%, transparent, rgb(187, 220, 237));
    box-shadow: 0 2px 4px rgba(220, 220, 220, 0.2);
}

.course-card-img {
  width: 80px;
}

.course-card-info {
  padding: 1px;
  
}

.course-card-title {
  font-weight: bold;
  margin: 0;
  
}

.course-card-price {
  margin: 0;
  font-size: 16px;
}

.course-card-rating {
  margin: 0;
  font-size: 12px;
}
