.header {
  width: 100vw;
  height: 325px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.body {
  position: absolute;
  bottom: 0;
}

.tabs {
  display: flex;
}

.tab {
  height: 30px;
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid #3a591e;
}

#welcome {
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 600px) {

  #welcome {
    font-size: 30px;
  }
 
  .tab{
  width: 9vw;
  }

 .body { 
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   height: 70vh;
   padding: 70px 0 100px 0;

  }
  .body {
    position: absolute;
    bottom: 25%;
    left:50%;
  }
  
} 
  .header  {
    margin: 100px 0 100px 0;
    
   width: 100vw;
   height: 30vh;
  }


