.header {
  width: 100vw;
  height: 325px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.body {
  position: absolute;
  bottom: 0;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

.tab {
  height: 30px;
  width: 100vw;
  text-align: center;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid #3a591e;
}

.tab p {
  margin: 0;
  padding: 0;
}


#welcome {
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 600px) {

  #welcome {
    font-size: 25px;
  }
 
  .tabs{
    width: 30vh;
  }

 .body { 
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   height: 70vh;
   padding: 70px 0 100px 0;
  }

  .header  {
    margin: 100px 0 100px 0;
    
   width: 100vw;
   height: 30vh;
  }
}

/* @media (min-width: 600px) {

  .tabs {
    height: 30px;
    width: 20vw;
    bottom: 25%;
    margin-left: 17%;
  }
  .header {
    width: 50vw;
    height: 325px;
    top: 25%;
  }
  .body {
    position: absolute;
    bottom: 25%;
    left:50%;
  }
  
} */

