.signUpContainer {
  background-color: #f3f6f8;
  width: 100vw;
  height: 445px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

#termsService {
  font-size: 12px;
}
