.courseCard {
    border: 1px black solid;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.4rem;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 200px;
    text-align: center;
}

.courseCard p {
    margin: 0;
}

.cardImg {
    width: 3rem;
}