.container {
    padding:20px;
    margin: 10px;
    width: 18rem;
    margin-bottom: 4rem;
    border: 1px solid #e2e2e2;
    box-shadow: #e2e2e2;
    border-radius: 15px;
    gap: 1rem;
    background-image: 
      radial-gradient(circle at 100% 0, #ffffff, transparent),
      radial-gradient(circle at 70% 100%, #fbffea, transparent),
      radial-gradient(circle at 100% 100%, #ffffff, transparent),
      radial-gradient(circle at 10% 10%, transparent, rgb(187, 220, 237));
      box-shadow: 0 2px 4px rgba(220, 220, 220, 0.2);
}

.contactTitle{
  padding-bottom: .7rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.buttonSubmit {
  margin-top: 1rem;
  width: 15rem;
}

.textField {
  width: 15rem;
  z-index: 1;
}

.textFieldMessage {
  width: 15rem;
  height: 17rem;
}

@media(min-width:600px) {
  .container {
      width: 47rem;
  }

  .textField {
    width: 44rem;
  }

  .textFieldMessage {
    width: 44rem;
  }

  .buttonSubmit {
    width: 44rem;
  }
}