@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

.user {
    padding: 20px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding:20px;
    margin: 10px;
    margin-bottom: 20px;
    border: 1px solid #e2e2e2;
    box-shadow: #e2e2e2;
    border-radius: 15px;
    background-image: 
      radial-gradient(circle at 100% 0, #ffffff, transparent),
      radial-gradient(circle at 70% 100%, #fbffea, transparent),
      radial-gradient(circle at 100% 100%, #ffffff, transparent),
      radial-gradient(circle at 10% 10%, transparent, rgb(187, 220, 237));
      box-shadow: 0 2px 4px rgba(220, 220, 220, 0.2);
}

.profileTitles {
    padding-bottom: 0.7rem;
    padding-top: 1rem;
    border-bottom: 1px solid #efefef;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.profileIcons {
    width: 15px;
}

.profileSettings {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(140, 140, 140);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.imgSection {
    display: flex;
    justify-content: center;
}

.img{
    width: 30vw;
    border-radius: 50%;
}

.actions {
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: flex-start;
    width: fit-content;

}

.logOutBtn {
    width: 110px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: #92A65F;
    box-shadow: 0 2px 4px rgba(220, 220, 220, 0.2);
    color: white;
    border-style: none;
    letter-spacing: 0.8px;
    margin-top: 1rem;
}

.chip {
    width: fit-content;
    height: auto;
    padding: 0.5rem 1.5rem;
    gap: 0.5rem;
    border-radius: 20px !important;
    background-image: 
    radial-gradient(circle at 100% 0, #f0f2e4, transparent),
    radial-gradient(circle at 0 100%, #eaf4c2, transparent),
    radial-gradient(circle at 100% 100%, #E3DB8A, transparent),
    radial-gradient(circle at 50% 50%, transparent, rgb(0, 166, 255)); 
    color: var(--color-primary);
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(93, 93, 93, 0.2);
  }
  
  .chip:hover {  
    border: 1px solid #AED581 !important;
    background-color: transparent !important; 
  }

  .animateCharacter
  {
     z-index:-1;
    text-transform: uppercase;
    background-image: linear-gradient(
        225deg,
        black 0%,
        var(--color-green-dark) 29%,
        var(--color-green) 67%,
        var(--color-green-light) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear reverse infinite;
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Lemon', cursive;
    -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

@media (min-width: 800px) {
    .user {
        display: flex;
        justify-content: space-between;
    }
    
}
@media (min-width: 800px) {
    .img {
        width: 50%
    }

    .userInfo {
        width:60%;
    }
    .courses {
        width: 70%;
    }
}

@media(min-width:600px) {
    .img {
        width: 50%
    }

    .userInfo {
        width:50%;
    }

    .logOutBtn {
        display: none;
    }

}