.user {
    padding: 20px;
}

  .userInfo {
    width:100%;
    padding:20px;
    margin: 10px;
    margin-bottom: 20px;
    border: 1px solid #e2e2e2;
    box-shadow: #e2e2e2;
    border-radius: 15px;
    gap: 1rem;
    background-image: 
      radial-gradient(circle at 100% 0, #ffffff, transparent),
      radial-gradient(circle at 70% 100%, #fbffea, transparent),
      radial-gradient(circle at 100% 100%, #ffffff, transparent),
      radial-gradient(circle at 10% 10%, transparent, rgb(187, 220, 237));
      box-shadow: 0 2px 4px rgba(220, 220, 220, 0.2);
}

.createdCourses {
    width:100%;
    padding:20px;
    margin: 10px;
    margin-bottom: 20px;
    border: 1px solid #e2e2e2;
    box-shadow: #e2e2e2;
    border-radius: 15px;
    gap: 1rem;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    width:15vw;
    border-radius: 50%;
    margin:20px;
}


.chip {
    width: 25%;
    height: 35px;
    padding: 0 26px;
    border: 1px solid #AED581 !important;
    border-radius: 20px !important;
    background-color: transparent !important; 
    color: black !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(93, 93, 93, 0.2);
  }
  
  .chip:hover {  
    background-image: 
    radial-gradient(circle at 100% 0, #f0f2e4, transparent),
    radial-gradient(circle at 0 100%, #eaf4c2, transparent),
    radial-gradient(circle at 100% 100%, #E3DB8A, transparent),
    radial-gradient(circle at 50% 50%, transparent, rgb(0, 166, 255));
  
  }

@media (min-width: 600px) {
    .user {
        display: flex;
        justify-content: space-between;
}
}