.container {
    padding:20px;
    margin: 10px;
    margin-bottom: 20px;
    gap: 1rem;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    padding-top: 3px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-image: radial-gradient(circle at 100% 0, #f0f2e4, transparent),
    radial-gradient(circle at 0 100%, #eaf4c2, transparent),
    radial-gradient(circle at 100% 100%, #e3db8a, transparent),
    radial-gradient(circle at 50% 50%, transparent, #00a6ff) !important; 
    box-shadow: 0 2px 4px rgba(220, 220, 220, 0.2);
    box-shadow: 0 2px 4px rgba(220, 220, 220, 0.2);
    color: var(--color-primary);
    border-style: none;
    letter-spacing: 0.8px; 
    font-weight: bold;
    text-transform: capitalize;
}
.button:hover {
    filter: brightness(1.1);
}
.actionBtns{
    display: flex;
    justify-content: space-between;
}