.container {
  /* background-image: url('../../assets/LOGO.png'); */
  height: 100vh;
  background-color: bisque;
  position: absolute;
  top: 0;
  width: 100%;
}

.button{
  margin: 19px 0 0 0;
  height: 37px;
  width: 162px;
}