.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video{
    width: 100vw;
    position: fixed;
    z-index: -1000;
}

.buttons-container {
    display: flex;
    flex-direction:column ;
    align-items: flex-start;
    position: absolute;
    bottom: -50%;
    left: 60%;
    transform: translateX(-50%);
    transition: transform 0.5s ease;
    height: fit-content;
    border-radius: 5%;
    padding: 1%;
    width: 300px !important;
    font-weight: 800;
    font-size: 20px;
    color: #2D2D2D !important;
}


.button{
    margin: 19px 0 0 0;
    height: 37px;
    width: 162px;
}

.logo-container {
    width: 50vw;
    background-color: rgba(240, 248, 255, 0.438);
    margin-top: 10%;
    display: flex;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.5s ease;
  }
  
  .logo-container.show-logo {
    opacity: 1; /* Change the opacity to 1 when the show-logo class is applied */
  }

  
  
.translate-up {
    transform: translateX(-50%) translateY(-50%);
    top: 60%;
  }

